{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/homeB.css' %}">
{% endblock link %}

{% block content %}
<div class="container">
    <div class="section section-left">
        <div class="section-left-content">
            <div>
                <h1>Actualités Françaises</h1>
                {% if last_updated %}
                <div class="last-updated">
                    Dernière mise à jour : {{ last_updated }}
                </div>
                {% endif %}
            </div>

            {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
            {% endif %}

            {% if articles %}
            <div>
                {% for article in articles %}
                <a href="{{ article.url }}" target="_blank" class="news-link">
                    <article class="news-card">
                        {% if article.image_url %}
                        <img src="{{ article.image_url }}" alt="{{ article.title }}" class="news-image">
                        {% endif %}
                        <div class="news-content">
                            <div class="news-source">{{ article.source }}</div>
                            <h2 class="news-title">{{ article.title }}</h2>
                            <p class="news-description">{{ article.description }}</p>
                            <div class="news-date">{{ article.published_at }}</div>
                        </div>
                    </article>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <div class="no-articles">
                Aucun article disponible pour le moment.
            </div>
            {% endif %}

        </div>

    </div>

    <div class="section section-middle">
        <h2>Forums avec des threads</h2>
        <div class="forum-list">
            {% for subforum, threads in subforums_with_threads %}
            <div class="forum-item">
                <h3>
                    {% if subforum.image %}
                    <img src="{{ subforum.image.url }}" alt="{{ subforum.title }} image"
                        style="max-width: 50px; vertical-align: middle;">
                    {% endif %}
                    {{ subforum.title }}
                </h3>
                <p>{{ subforum.description }}</p>
                <h4>Threads les plus vus</h4>
                <ul>
                    {% for thread in threads %}
                    <li>
                        <a href="{% url 'forum:thread' slug=thread.slug %}">{{ thread.title }}</a>
                        {% if thread.image %}
                        <img src="{{ thread.image.url }}" alt="{{ thread.title }} image" style="max-width: 100px;">
                        {% endif %}
                        <p>Par : {{ thread.author.username }} | Le : {{ thread.created_at }}</p>
                        <h5>Posts</h5>
                        <ul>
                            {% for post in thread.top_posts %}
                            <li>{{ post.content }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

        <h2>Les sujets qui peuvent vous intéresser</h2>
        <div class="forum-list">
            {% for subforum in subforums_without_threads %}
            <div class="forum-item">
                <h3>
                    {% if subforum.image %}
                    <img src="{{ subforum.image.url }}" alt="{{ subforum.title }} image"
                        style="max-width: 50px; vertical-align: middle;">
                    {% endif %}
                    {{ subforum.title }}
                </h3>
                <p>{{ subforum.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="section section-right">
        <div class="section-right-content">
            <h1>Evénements</h1>

            {% if events_this_week %}
            <h2 class="period-title">Cette semaine</h2>
            <ul class="event-list">
                {% for event in events_this_week %}
                <li class="event-card">
                    {% if event.organizer.profile_image %}
                    <img src="{{ event.organizer.profile_image.url }}"
                        alt="{{ event.organizer.first_name }} {{ event.organizer.last_name }}">
                    {% endif %}
                    <h2>{{ event.organizer.first_name }} {{ event.organizer.last_name }}</h2>
                    <h2><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></h2>
                    {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
                    {% endif %}
                    <p>{{ event.description|safe|truncatechars:50 }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if events_next_week %}
            <h2 class="period-title">Dans deux semaines</h2>
            <ul class="event-list">
                {% for event in events_next_week %}
                <li class="event-card">
                    {% if event.organizer.profile_image %}
                    <img src="{{ event.organizer.profile_image.url }}"
                        alt="{{ event.organizer.first_name }} {{ event.organizer.last_name }}">
                    {% endif %}
                    <h2>{{ event.organizer.first_name }} {{ event.organizer.last_name }}</h2>
                    <h2><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></h2>
                    {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
                    {% endif %}
                    <p>{{ event.description|safe|truncatechars:50 }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if events_next_month %}
            <h2 class="period-title">Le mois prochain</h2>
            <ul class="event-list">
                {% for event in events_next_month %}
                <li class="event-card">
                    {% if event.organizer.profile_image %}
                    <img src="{{ event.organizer.profile_image.url }}"
                        alt="{{ event.organizer.first_name }} {{ event.organizer.last_name }}">
                    {% endif %}
                    <h2>{{ event.organizer.first_name }} {{ event.organizer.last_name }}</h2>
                    <h2><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></h2>
                    {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
                    {% endif %}
                    <p>{{ event.description|safe|truncatechars:50 }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if upcoming_events %}
            <h2 class="period-title">Prochainement</h2>
            <ul class="event-list">
                {% for event in upcoming_events %}
                <li class="event-card">
                    {% if event.organizer.profile_image %}
                    <img src="{{ event.organizer.profile_image.url }}"
                        alt="{{ event.organizer.first_name }} {{ event.organizer.last_name }}">
                    {% endif %}
                    <h2>{{ event.organizer.first_name }} {{ event.organizer.last_name }}</h2>
                    <h2><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></h2>
                    {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
                    {% endif %}
                    <p>{{ event.description|safe|truncatechars:50 }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function adjustSectionHeight() {
            const sections = document.querySelectorAll('.section-left, .section-right');
            sections.forEach(section => {
                section.style.maxHeight = window.innerHeight + 'px';
            });
        }

        window.addEventListener('resize', adjustSectionHeight);
        adjustSectionHeight(); // Ajustement initial
    });
</script>

{% endblock javascript %}