
.container {
    display: flex;
    padding-top: 10px;  /* Réduction de la marge supérieure */
    gap: 5px;           /* Réduction de l'écart */
    width: 100%;
    overflow-y: auto;
}

.section {
    background-color: var(--background-color);
    padding: 10px;      /* Réduction du padding */
    border-radius: 10px;
    color: var(--text-color);
    overflow-y: auto;  /* Permettre le défilement vertical si nécessaire */
}

.section-left, .section-right {
    position: fixed;
    z-index: 998;
    overflow-y: scroll;   
    height: auto;
    flex: 0 0 20%; /* Largeur fixe pour les sections latérales */
    box-shadow: 0 4px 8px var(--primary-color);
    overflow-x: hidden;
    position: sticky;
}
.section-left-content, .section-right-content {
    margin-bottom: 120px;
    padding-bottom: 20px;
    /* Espace en bas pour éviter que le dernier élément soit caché */
  }


.section-middle {
    flex: 1; /* La section centrale prend le reste de l'espace */
}

.section:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .section {
        border-right: none;
        margin-bottom: 5px;  /* Réduction de la marge inférieure */
        width: 100%; /* Occupe toute la largeur en mode mobile */
    }

    .section:last-child {
        margin-bottom: 0;
    }
}

/* Styles pour les forums */
.forum-list {
    list-style: none;
    padding: 0;
}

.forum-item {
    background-color: var(--background-color);
    margin-bottom: 10px;  /* Réduction de la marge inférieure */
    padding: 10px;  /* Réduction du padding */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forum-item h3 {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

.forum-item p {
    margin: 10px 0;
    color: var(--text-color);
}

.forum-item img {
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

.forum-item ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.forum-item ul li {
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.forum-item ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.forum-item ul li a:hover {
    text-decoration: underline;
}

.event-list {
    display: flex;
    flex-wrap: wrap; 
    overflow-y: auto;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.event-card {
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 230px;  /* Réduction de la largeur du conteneur */
    padding: 10px;  /* Réduction du padding */
    text-align: center;
    overflow: hidden;
    flex: 0 0 auto; /* S'assure que la carte ne grandit ni ne rétrécit */
    
}

.event-card img {
    border-radius: 50%;
    width: 70px;  /* Réduction de la taille de l'image */
    height: 70px;
    margin-bottom: 10px;
}

.event-card h2 {
    color: var(--primary-color);
    margin: 10px 0;
}

.event-card p {
    color: var(--text-color);
}

.event-card .event-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.period-title {
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;  /* Réduction des marges */
    margin-bottom: 10px;
    font-size: 1.5em;
}

.last-updated {
    font-size: 0.9em;
    color: var(--text-color);
    margin-top: 10px;
}

.error-message {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;  /* Réduction du padding */
    border-radius: 5px;
    margin-bottom: 20px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;  /* Réduction de l'écart */
}

.news-card {
    background-color: var(--background-color);
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px var(--primary-color);
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    padding: 15px;  /* Réduction du padding */
}

.news-source {
    color: var(--secondary-color);
    font-size: 0.9em;
    margin-bottom: 5px;
}

.news-title {
    font-size: 1.1em;
    margin: 10px 0;
    color: var(--primary-color);
}

.news-description {
    font-size: 0.9em;
    color: var(--text-color);
    margin-bottom: 15px;
    line-height: 1.5;
}

.news-date {
    font-size: 0.8em;
    color: #95a5a6;
}

.news-link {
    text-decoration: none;
    color: inherit;
}

.no-articles {
    text-align: center;
    padding: 50px;
    font-size: 1.2em;
    color: #666;
}
