:root {
    --primary-color: #1e90ff; /* Bleu clair */
    --secondary-color: #1e90ff; /* Bleu clair */
    --text-color: black;
    --background-color: white;
    --navbar-background: var(--primary-color);
    --sidebar-background: #1e90ff; /* Bleu clair */
    --dropdown-background: #ffffff;
    --dropdown-text-color: var(--primary-color);
    --dropdown-hover-background: rgba(30, 144, 255, 0.1); /* Bleu clair avec transparence */
}

[data-theme="dark"] {
    --primary-color: #1e90ff; /* Bleu clair */
    --secondary-color: #1e90ff; /* Bleu clair */
    --text-color: white;
    --background-color: black;
    --navbar-background: var(--primary-color);
    --sidebar-background: #2a2a2a; /* Bleu foncé */
    --dropdown-background: #333;
    --dropdown-text-color: white;
    --dropdown-hover-background: rgba(255, 255, 255, 0.1); /* Blanc brillant */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%; 
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background);
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar-menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar-menu .menu-item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 8px 12px;
    transition: background 0.3s;
    font-size: 18px;
}

.navbar-menu .menu-item a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-menu .menu-item a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-background);
    color: var(--dropdown-text-color);
    min-width: 160px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 999;
}

.dropdown-content a {
    color: var(--dropdown-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background: var(--dropdown-hover-background);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    padding-bottom: 20px;
}

.notification-icon {
    font-size: 30px; /* Augmenter la taille de l'icône */
    color: var(--text-color);
    cursor: pointer;
    position: relative; 
    display: flex;
    justify-content: center; 
}

.notification-count {
    position: absolute;
    
    right: -15px; /* Ajuster la position pour qu'elle soit comme un exposant */
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px; /* Augmenter légèrement la taille de la police pour la lisibilité */
    transform: translateY(-50%); /* Alignement vertical pour l'effet d'exposant */
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 32px;
    height: 32px;
    border-radius: 30%;
    object-fit: cover;
}

.auth-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth-section .menu-item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 8px 12px;
    transition: background 0.3s;
    font-size: 18px;
}

.auth-section .menu-item a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.auth-section .menu-item a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.sidebar-toggle {
    display: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 24px;
}

@media (min-width: 769px) {
    .sidebar {
        display: none;
    }

    .search-navbar .auth-section {
        position: absolute;
        right: 20px;
    }

    .profile-container {
        position: absolute;
        left: 20px;
    }

    .notification-icon {
        position: relative; 
        left: 50%; 
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .sidebar-toggle {
        display: block;
    }

    .sidebar {
        display: block;
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100%;
        background-color: var(--sidebar-background);
        transition: left 0.3s ease-in-out;
        padding-top: 20px;
        z-index: 1000;
    }

    .sidebar a {
        padding: 10px;
        text-decoration: none;
        color: var(--text-color);
        display: block;
    }

    .sidebar a:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .sidebar .dropdown-content {
        display: none;
        position: relative;
        background-color: var(--sidebar-background);
        box-shadow: none;
        border-radius: 0;
        z-index: 1;
    }

    .sidebar .dropdown-content a {
        color: var(--text-color);
        padding: 10px 20px;
        text-decoration: none;
        display: block;
        transition: background 0.3s;
    }

    .sidebar .dropdown-content a:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .sidebar .dropdown.active .dropdown-content {
        display: block;
    }

    .sidebar .dropdown .dropdown-toggle::after {
        content: ' \25BC';
        font-size: 12px;
        color: var(--text-color);
        margin-left: 5px;
    }

    .sidebar .dropdown.active .dropdown-toggle::after {
        content: ' \25B2';
    }

    .sidebar .closebtn {
        font-size: 36px;
        color: var(--text-color);
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        transition: right 0.3s, opacity 0.3s;
    }

    .sidebar.active .closebtn {
        right: 10px;
        opacity: 1;
    }

    .sidebar .closebtn {
        opacity: 0.7;
    }

    .sidebar.active {
        left: 0;
    }

    .profile-container {
        display: flex; /* Affiche le conteneur de profil en mode responsive */
        position: absolute; 
        left: 10px; 
    }

    .notification-icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .auth-section {
        position: absolute; 
        right: 10px; 
    }

    .search-navbar {
        justify-content: space-between;
    }
}

