
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.section {
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 6px var(--primary-color);
  background-color: var(--background-color);
}

.left-section {
  flex: 3;
}
.left-section img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.right-section {
  flex: 1;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--primary-color);
  padding: 15px;
  text-align: left;
}

.right-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.right-section ul {
  list-style-type: none;
  padding: 0;
}

.right-section ul li {

  margin-bottom: 10px;
}

.right-section ul li a {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--primary-color);;
  display: block;
  transition: background-color 0.3s;
}

.right-section ul li a:hover {
  background-color: var(--secondary-color);
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(.disabled) {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .main-container{
    width: 100%;
  }
  .container {
    flex-direction: column;
  }

  .left-section, .right-section {
    width: 100%;
  }
  .section {
    border-radius: 15px;
    padding: 0;
    box-shadow: 0 4px 6px var(--primary-color);
    background-color: var(--background-color);
  }
}

    .post-header {
        display: flex;
        align-items: center;
    }

    .post-header img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    post-content{
        margin-bottom: 6px;
    }
    .post-header .info {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    .post-header .name {
        font-weight: bold;
        color: var(--text-color);
    }

    .post-header .date {
        font-size: 0.9em;
        color: var(--secondary-color);
    }


    .add-comment-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--primary-color);
        color: white;
        font-size: 2em;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    .add-comment-icon:hover {
        background-color: var(--secondary-color);
        transform: scale(1.1);
    }

    #add-comment-form {
        display: none;
        margin-top: 10px;
        /* Réduire l'espace en haut */
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: var(--background-color);
    }

    #add-comment-form label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        font-size: 0.9rem;
        color: var(--text-color);
    }

    #add-comment-form input,
    #add-comment-form textarea,
    #add-comment-form button {
        width: 100%;
        padding: 6px;
        /* Réduire l'espace de padding */
        margin-bottom: 5px;
        /* Réduire l'espace entre les champs */
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        font-size: 0.9rem;
        color: var(--text-color);
        background-color: var(--background-color);
        /* Pour éviter le blanc sur blanc */
    }

    #add-comment-form textarea {
        resize: none;
        height: 60px;
        /* Ajuster la hauteur */
    }

    #add-comment-form button {
        background-color: var(--primary-color);
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 0.9rem;
    }

    #add-comment-form button:hover {
        background-color: var(--secondary-color);
    }



    .comment-container {
        margin-bottom: 10px;
        padding: 10px;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        background-color: var(--background-color);
        max-width: auto;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        position: relative;
    }

    .profile_comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }

    .profile_comment img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .name {
        flex-grow: 1;
        font-weight: bold;
        color: var(--primary-color);
    }

    .dropdown-toggle {
        background: none;
        border: none;
        color: var(--primary-color);
        font-size: 1.5em;
        cursor: pointer;
        position: relative;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 20%;
        /* Positionne le dropdown directement en dessous du bouton */
        background-color: var(--dropdown-background);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 1;
    }

    .dropdown-menu .dropdown-item {
        color: var(--dropdown-text-color);
        padding: 5px;
        text-decoration: none;
        display: block;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: var(--dropdown-hover-background);
    }

    .content-post {
        margin-top: 0;
    }

    .tags {
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
    }

    .tag {
        background-color: var(--primary-color);
        color: var(--text-color);
        padding: 5px 5px;
        border-radius: 20px;
        margin-right: 5px;
        align-items: center;
    }

    .like-dislike-share-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .like-dislike-share-buttons a,
    .like-dislike-share-buttons button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--background-color);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, transform 0.3s;
    }

    .like-dislike-share-buttons a:hover,
    .like-dislike-share-buttons button:hover {
        transform: scale(1.05);
    }

    .share-dropdown button {
        color: var(--primary-color);
    }

    .share-dropdown button:hover {
        background-color: var(--text-color);
        color: var(--primary-color);
    }

    .report-button {
        background-color: var(--background-color);
        color: red;
    }

    .report-button:hover {
        background-color: darkred;
        color: white;
    }
 
    .share-dropdown {
        position: relative;
    }

    .share-dropdown-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: var(--background-color);
        z-index: 1;
        padding: 5px;
    }

    .share-dropdown-menu .dropdown-item {
        padding: 5px;
        text-decoration: none;
        color: var(--text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--background-color);
        transition: background-color 0.3s;
    }

    .share-dropdown-menu .dropdown-item i {
        font-size: 1.2em;
    }

    .share-dropdown-menu .dropdown-item[title="Partager sur Twitter"] {
        color: #1DA1F2;
    }

    .share-dropdown-menu .dropdown-item[title="Partager par Email"] {
        color: #D44638;
    }

    .share-dropdown-menu .dropdown-item:hover {
        background-color: var(--primary-color);
        color: white;
    }


    @media (max-width: 768px) {
        .comment-container {
            margin-left: 0;
            margin-right: 0;
            margin-top: 10px;
            padding-right: 0;
            padding-left: 0;
        }

        #add-comment-form {
            margin-top: 5px;
            padding: 5px;
        }

        #add-comment-form input,
        #add-comment-form textarea,
        #add-comment-form button {
            padding: 5px;
            margin-bottom: 5px;
            font-size: 0.8rem;
            /* Réduire la taille de la police sur les appareils mobiles */
        }

        #add-comment-form textarea {
            height: 50px;
            /* Ajuster la hauteur pour les appareils mobiles */
        }
    }

